<footer class="footer">
    <div>
        <p> Col 1 </p>
    </div>
    <div>
        <p> Col 1 </p>
    </div>
    <div>
        <p> Col 1 </p>
    </div>
</footer>

<style scoped>
.footer {
    background: green;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
</style>