<nav class="navbar">
    <div>
        <p> My Company Name </p>
    </div>
    <div class="navbar-left">
        <div class="nav-button">
            <a>Home</a>
        </div>
        <div class="nav-button">
            <a>Products</a>
        </div>
        <div class="nav-button">
            <a>Profil</a>
        </div>
    </div>
</nav>

<style scoped>
.navbar {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.navbar-left {
    display: flex;
}

.nav-button {
    background: #0096FF;
    height: 100%;
    display: flex;
    align-items: center;
    width: 10vw;
    justify-content: center;
    cursor: pointer;
}

.nav-button:hover {
    background: #89CFF0;
}
</style>